/* Variables */
:root {
    --primary: lightblue;
    --warning: orange;
    --ok: lightgreen;
    --danger: red;
}



/* General, */
html {
    height: 100%;
}

body {
    background-image: url(./animgridbg50.gif);
    background-size: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(./bliss.jpg);
    width: 100%;
    background-position: center;
}



/* Windows */
.window,
.window-no-controls {
    background-color: white;
    border: 5px solid var(--primary);
    border-top: 25px solid var(--primary);
    padding: 2%;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    display: block;
}



/* Image Windows */
.image-window {
    min-width: 150px;
    width: fit-content;
    padding: 0px;
    z-index: 100;
}

.image-window img {
    width: 100%;
}



/* Window Controls and Decorations */
.control-container {
    background: none;
    border: none;
    position: absolute;
    top: -21px;
    right: 0px;
    display: flex;
    gap: 10px;
}

.control-container button {
    border: none;
    background: none;
}

.control-container button:hover {
    background-color: rgb(230, 238, 245);
}

.window-title {
    position: absolute;
    top: -21px;
    left: 0px;
}



/* Helper */
.center-text {
    text-align: center;
}

.flex {
    display: flex;
}

.floating {
    position: absolute;
    z-index: 100;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.full-width {
    width: 95%;
    margin: auto;
}



/* Unique Image Windows */
#hi {
    width: 175px;
    top: calc(100% - 150px);
    right: calc(100% - 200px);
}

#enter {
    padding: 5rem;
    background-image: url(./space.jpg);
    background-position: center;
    margin: auto;
    width: 500px;
    background-size: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#enter-button{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    border: 2px solid var(--primary);
    border-top: 10px solid var(--primary);
    background-color: white;
    opacity: 0.95;
    margin: 5px;
}

#enter button:hover {
    opacity: 1;
}