:root {
  --primary: lightblue;
  --primary-secondary: lightblue;
  --active: blue;
  --active-secondary: blue;
  --highlight: white;
  --highlight-secondary: grey;
  --background: black;
  --background-secondary: grey;
  --window-background: white;
  --text: white;
  --window-text: black;
  --text-secondary: grey;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman";
}

body {
  background-color: var(--background);
}

main {
  min-width: 700px;
  max-width: 1250px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
