* {
  box-sizing: border-box;
  font-family: "Times New Roman";
}

body {
  background-color: black;
}

main {
  min-width: 700px;
  max-width: 1250px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
