:root {
  --primary: lightblue;
  --primary-secondary: lightblue;
  --active: blue; 
  --active-secondary: blue;
  --highlight: white;
  --highlight-secondary: grey;
  --background: black;
  --background-secondary: grey;
  --text: white;
  --text-secondary: grey;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman";
  color: var(--text)
}

body {
  background-color: var(--background);
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
}
