/* Setup */

@font-face {
  font-family: "w95";
  src: url("../shards98/w95fa/W95FA.otf") format("opentype");
}

* {
  box-sizing: border-box;
  font-family: "w95", sans-serif;
}

/* General */

body {
  background-color: black;
  background-image: url("../medias/bg/bliss.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

main {
  min-width: 700px;
  max-width: 1250px;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  min-width: 700px;
  max-width: 1250px;
  margin: auto;
  text-align: center;
}

footer {
  min-width: 700px;
  max-width: 1250px;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li::after {
  content: "|";
}

footer ul li:before {
  content: "|";
}

.danger {
  background-color: var(--danger);
  color: var(--text-light);
}

.warning {
  background-color: var(--warning);
  color: var(--text-light);
}

.ok {
  background-color: var(--ok);
  color: var(--text-light);
}

.border {
  border: 2px inset var(--interactive-border-light);
  padding: 0.25rem;
  margin: 0.25rem;
}

/* Windows */

ul {
  list-style-type: square;
}

/* Updates */

#updates ul {
  list-style-type: none;
  height: 500px;
  overflow-y: scroll;
}

#updates ul li {
  border-bottom: 1px solid var(--interactive-border-dark);
  padding: 0.5rem 0;
}

#updates ul li a {
  text-decoration: none;
}

#updates ul li div {
  color: var(--text);
}

#updates ul li h3 {
  color: var(--link);
  text-decoration: underline;
}

#updates ul li h3:hover {
  color: var(--link-hover);
}

.update-timestamp {
  float: right;
}

.update-additions {
  color: var(--ok);
  margin-right: 1rem;
}

.update-deletions {
  color: var(--danger);
}

/* blink */

.blink {
  display: block;
  width: 7.5rem;
}

/* aerial banner */

aerial-banner {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

aerial-banner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* animation: scroll 10s linear infinite; */
}

aerial-banner ul li {
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* per window styling */

taskbar .start-menu {
  background-image: url("../medias/bg/bliss.jpg");
}
