body {
    background-image: url(../medias/bg/animgridbg.gif);
    /* background-size: 10%; */
}

header,
div,
footer {
    background-color: white;
    border: 5px solid lightblue;
    padding: 10px;
    margin: 50px;
}