:root {
  --primary: #add8e6;
  --primary-secondary: #a0e0e6;
  --active: #4682b4;
  --active-secondary: #5f9ea0;
  --highlight: #ffffff;
  --highlight-secondary: #d3d3d3;
  --background: #222222;
  --background-secondary: #808080;
  --window-background: #ffffff;
  --text: #000000;
  --window-text: #000000;
  --text-secondary: #808080;
}

window,
window-static {
  background-color: var(--window-background);
  color: var(--window-text);
  border: 5px solid var(--primary);
  border-top: 25px solid var(--primary);
  padding: 1rem;
  display: block;
  margin: 1.5rem;
}

window-group {
  display: flex;
  flex-direction: column;
}

/* taskbar */

taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--primary-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

taskbar img {
  height: 100%;
}

taskbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

taskbar ul li {
  height: 100%;
  background-color: var(--window-background);
}

taskbar .time {
  margin-left: auto;
  padding-right: 1rem;
}
