:root {
  --window-border: #add8e6;
  --window-background: #ffffff;
  --taskbar-background: #eeeeee;
  --taskbar-button-border: #aaaaaa;
  --taskbar-button-hover: #cccccc;
}

window,
window-static {
  background-color: var(--window-background);
  border: 5px solid var(--window-border);
  border-top: 25px solid var(--window-border);
  padding: 1rem;
  display: block;
  margin: 1.5rem;
}

window-group {
  display: flex;
  flex-direction: column;
}

/* taskbar */

taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 2rem;
  background-color: var(--taskbar-background);
  align-items: center;
}

taskbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  gap: 0.25rem;
  padding-left: 0.5rem;
  align-items: center;
}

taskbar ul li {
  margin: 0;
  padding: 0;
  display: flex;
  height: 90%;
  border: 1px solid var(--taskbar-button-border);
  border-right: 2px solid var(--taskbar-button-hover);
  border-bottom: 2px solid var(--taskbar-button-hover);
  align-items: center;
  padding: 0 0.5rem;
}

taskbar ul li:hover {
  background-color: var(--taskbar-button-hover);
  border-color: var(--taskbar-button-hover);
  border-right: 2px solid var(--taskbar-button-border);
  border-bottom: 2px solid var(--taskbar-button-border);
}

taskbar .icon,
taskbar ul li .icon {
  margin: 0;
  padding: 0;
  height: 100%;
}

taskbar .time {
  justify-self: flex-end;
  margin-left: auto;
  border-left: 1px solid var(--taskbar-button-border);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
